{% extends 'base.html' %}

{% block title %}Panel Profesor{% endblock %}

{% block content %}
<div class="bg-white p-8 rounded-2xl shadow-md space-y-6">

    <h2 class="text-2xl font-bold text-blue-700">Bienvenido, Profesor {{ user.first_name }}</h2>

    <!-- Información del profesor -->
    <div class="bg-gray-50 p-4 rounded-lg shadow-inner">
        <h3 class="text-lg font-semibold text-gray-800">Información del Profesor</h3>
        <p><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Correo:</strong> {{ user.email }}</p>
        <p><strong>Puesto:</strong> {{ profesor.puesto }}</p>
    </div>

    <!-- Tareas y actividades -->
    <div class="bg-gray-50 p-4 rounded-lg shadow-inner mt-6">
        <h3 class="text-lg font-semibold text-gray-800">Tus Tareas</h3>
        <ul class="space-y-3">
           
            <li class="flex justify-between items-center">
                <span>Entrenamiento Personalizado - 2:00 PM</span>
                <span class="bg-yellow-200 text-yellow-700 px-3 py-1 rounded-full">Pendiente</span>
            </li>

        </ul>
        
        
        <!--Buscar cliente-->
    <form method="get" class="mb-4">
    <input type="text" name="q" placeholder="Buscar Cliente"
        value="{{ query }}"
        class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
    <button type="submit" class="bg-blue-700 hover:bg-blue-500 text-white px-4 py-1 rounded-lg shadow-md mt-2">Buscar</button>
    </form>
    {% if query %}
        {% if resultados %}
            <ul class="space-y-2 mt-4">
                {% for usuario in resultados %}
                    <li class="bg-gray-100 p-3 rounded-lg shadow">
                        {{ usuario.first_name }} {{ usuario.last_name }} - {{ usuario.dni }} - {{ usuario.email }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-500 mt-4">No se encontraron resultados para "{{ query }}".</p>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
